<div class="row">
    <div class="col-sm-8">
                                                       <!-- app.post('/newpost -->
    <form class="form" role="form" method="post" action="/newpost">

        <div class="form-group">
            <label for="pa">PA: </label>
            <input type="text" class="form-control" id="pa" placeholder="PA ..."
                   name="pa"
                   value="{{newpost.pa}}"
            >
        </div>

        <div class="form-group">
            <label for="source">Source: </label>
            <input type="text" class="form-control" id="source" placeholder="Source ..."
                   name="source"
                   value="{{newpost.source}}"
            >
        </div>

        <div class="form-group">
            <label for="client">Client: </label>
            <input type="text" class="form-control" id="client" placeholder="Client ..."
                   name="client"
                   value="{{newpost.client}}"
            >
        </div>

        <div class="form-group">
            <label for="note">Note: </label>
            <input type="text" class="form-control" id="note" placeholder="Note ..."
                   name="note"
                   value="{{newpost.note}}"
            >
        </div>

    </form>

    </div>

</div>